<!-- Boton agregado por mi, necesita las comillas 2 veces -->
<!--        (evento)    [componente]   -->
<app-boton (onClick)="suma()" [color]="'green'" [texto]="'Suma'"></app-boton>
<app-boton (onClick)="resta()" [color]="'red'" [texto]="'Resta'"></app-boton>

<h1>{{ title }}</h1>

<!-- Variable-->
{{ edad }}

@if (edad >= 18) {
<p>Eres mayor de edad</p>
} @else {
<p>Eres menor de edad</p>
}

<ul>
  @for(letra of title; track letra){
  <li>{{ letra }}</li>
  }
</ul>

<input type="text" [(ngModel)]="title" />
